<style>
    .navbar-brand {
        color: #77bceb !important;
        font-family: "Pacifico", cursive;
        font-size: 20pt;
        text-decoration: none;
        display: inline-block;
        text-align: center;
    }
</style>

<div class="container-fullwidth">
    <nav class="navbar navbar-default navbar-expand-lg navbar-light bg-light ">
        <a class="navbar-brand" href="/landing-page/">Lingin</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar-right" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/update-status/">Status</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile/">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'update-status:auth_logout'%}" style="background-color: #c43238; color: #edecd6; border-radius: 25% ">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
