<table>
    <tbody>
        <tr>
            <td style="width: 169.2px;">Username</td>
            <td style="width: 356.8px;">{{ name }}</td>
        </tr>
        <tr>
            <td style="width: 169.2px;">NPM</td>
            <td style="width: 356.8px;">{{ npm }}</td>
        </tr>
        <tr>
            <td style="width: 169.2px;">Expertise</td>
            <td style="width: 356.8px;">{{ expert }}
        </tr>
        <tr>
            </td>
            <td style="width: 169.2px;">Profile Linkedin</td>
            <td style="width: 356.8px;">{{ link }}</td>
        </tr>
        <tr>
            <td style="width: 169.2px;">Email</td>
            <td style="width: 356.8px;">{{ email }}</td>
        </tr>
        <a href="{% url 'profile:edit_profile' %}" class="button">Edit Profile </a>

    </tbody>
</table>