<div class="panel panel-info">
    <div class="panel-heading">
        <h1> Riwayat Mata Kuliah </h1>
        <h3> Mata Kuliah Selesai : {{ riwayat | length}} </h5>
        <div class="exp" style="text-align: right">
            <p style="font-size: 14pt">Hide Nilai</p>
            <label class="switch">
                <input type="checkbox" id="check">
                <span class="slider round"> </span>
            </label> 
        </div>
             
    </div>

    <div class="panel-body">
        <table class="table" id="table-riwayat">
            <thead>
                <th> No</th>
                <th> Nama Mata Kuliah</th>
                <th> Kode Mata Kuliah</th>
                <th> Jlh. SKS</th>
                <th> Nilai</th>
            </thead>
            <tbody>
                {% for matkul in riwayat %}
                <tr>
                    <td> {{ forloop.counter }}</td>
                    <td> {{ matkul.kelas.nm_mk_cl.nm_mk }}</td>
                    <td> {{ matkul.kd_mk }}</td>
                    <td> {{ matkul.kelas.nm_mk_cl.jml_sks }}</td>
                    <td class="riwayat-nilai"> {{ matkul.nilai }} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    $(function() {
        $('#check').change(function() {
            $('.riwayat-nilai').toggle()
        })
    })
</script>