<div class="flex">
    {% for i in allStatus reversed %}
        <div class="flex-item">
            <div class="list-status-photo-status">
                <img class="avatar_image" id="status-photo"
                        src="https://vignette2.wikia.nocookie.net/naruto/images/5/50/Team_Kakashi.png/revision/latest?cb=20161219035928">
            </div>
            <div class="list-status">
                <b class="author_name"> {{ i.name }} </b>
                <p class="status_message"> {{ i.message }} </p>
                <p class="created_time"> {{ i.created_date }} </p>
            </div>
        </div>
        <br>
    {% endfor %}
</div>
<div>
    <form id="form" method="POST" action="{% url 'update-status:add_status' %}">
        {% csrf_token %}
        {{ status_form }}
        <br>
        <button type="submit" class="btn btn-default"><span>Post</span></button>
    </form>
</div>
<script type="application/javascript">
    $(".to-do-list-delete-button").click(function () {
        var id = $(this).data('id');
        location.href = "delete_status/" + id;
    });
</script>
