{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block content %}
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/update_status.css' %}"/>
    </head>
<body>
    <section name="form">
        <h2 style="margin-top: 100px">Update Status</h2>
        <form id="form" method="POST" action="{% url 'update-status:add_status' %}">
            {% csrf_token %}
            {{ status_form }}
            <br>
            <button type="submit" class="btn btn-default"><span>Post</span></button>
        </form>
        <br>
    </section>

    <section name="status history">
        <div class="flex">
            {% for i in allStatus reversed %}
                <div class="flex-item">
                    <div class="list-status-photo-status">
                        <img class="avatar_image" id="status-photo"
                             src="https://vignette2.wikia.nocookie.net/naruto/images/5/50/Team_Kakashi.png/revision/latest?cb=20161219035928">
                    </div>
                    <div class="list-status">
                        <b class="author_name"> {{ i.name }} </b>
                        <p class="status_message"> {{ i.message }} </p>
                        <p class="created_time"> {{ i.created_date }} </p>
                </div>
                <br>
            {% endfor %}
        </div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript"
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="application/javascript">
        $(".to-do-list-delete-button").click(function () {
            var id = $(this).data('id');
            location.href = "delete_status/" + id;
        });
    </script>
</body>
{% endblock %}
