{% extends "base.html" %}
{% load staticfiles %} 
{% load static %} 
{% block content %} 
<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
    // Setup an event listener to make an API call once auth is complete
    function onLinkedInLoad() {
        IN.Event.on(IN, "auth", getProfileData);
    }

    function displayAdmin(data){
      console.log(data)


    }
    // Use the API call wrapper to request the member's profile data
    function getProfileData() {
    IN.API.Profile("me").fields("id", "first-name", "last-name", "headline", "location", "picture-url", "public-profile-url", "email-address").result(displayProfileData).error(onError);
    }
    //Handle the successful return from the API call
    function displayProfileData(data){
        console.log(data.values[0]);
        var obj = JSON.stringify(data.values[0])
        sessionStorage.setItem("data", obj);

        $('.profile-picture').html(
         '<img class="cover" src="'+ data.values[0].pictureUrl + '"/>'
        );

        var user = data.values[0];
        document.getElementById("name").innerHTML = user.firstName+' '+user.lastName;
        document.getElementById("email").innerHTML = user.emailAddress;
        document.getElementById("link").innerHTML = user.publicProfileUrl;

    }
    // Handle an error response from the API call
    function onError(error) {
        console.log(error);
    }
    // Destroy the session of linkedin
    function logout(){
        IN.User.logout(removeProfileData);
    }
    // Remove profile data from page
    function removeProfileData(){
        document.getElementById('profileData').remove();
    }
    function saveLinkedIn(){
      console.log("success");
      var data = sessionStorage.getItem("data");
      var obj = JSON.parse(data);
      insertDatabase(obj.firstName,obj.lastName,obj.pictureUrl,obj.emailAddress,obj.publicProfileUrl);
    }
        var insertDatabase = function(firstName,lastName,imageUrl,email,profileUrl) {
        $.ajax({
            method: "POST",
            url: 'http://localhost:8000/page_profile/edit_profile',
            data: {
              firstName: firstName,
              lastName: lastName,
              imageUrl: imageUrl,
              email: email,
              profileUrl: profileUrl
            },
            success : function (user) {
                console.log(user);
            },
            error : function (error) {
                console.log(error);
            }
        });
    };

</script>
</head>

<body>
<div class="container">
  <div class="judul">
      <div class="profile-picture">
        <img src="{{Profile_linkedin.profileUrl}}" alt="3x4"/>
      </div>
      <p align="center" style="font-size: 15px;">
          <strong> NPM {{kode_identitas}} </strong>
      </p>
      <p style="float: right;">
          <a class="btn btn-primary" onclick="saveLinkedIn()" > Simpan </a> |
          <a href="{% url 'update-status:index' %}" class="btn btn-warning" > Keluar </a>
      </p><br><br>
  </div>
    <!-- sign in with linkedin button -->
  <script type="in/Login"></script>
  <div id="profileData" style=" font-size: 15px;">
  	<a href="javascript:void(0)" onclick="logout()">Logout</a>

      <div id="picture"></div>
      <div class="info">
        <h5 style=" font-size: 20px;"> Data Pribadi </h5>
        <p id="name"></p>
        <p id="email"></p>
        <p id="link"></p>
      </div>
  </div><br>
  <div class="isi">
    <div class ="keahlian">
      <h5 style=" font-size: 20px;"> Keahlian </h5>
        <select>
          <option value="java">Java</option>
          <option value="python">Python</option>
          <option value="c#">C#</option>
          <option value="c++">C++</option>
        </select>
      <strong style=" font-size: 15px;"> Level </strong>
        <select>
          <option value="beginner">Beginner</option>
          <option value="intermediate">Intermediate</option>
          <option value="advanced#">Advanced</option>
          <option value="expert">Expert</option>
          <option value="legend">Legend</option>
        </select>
    </div><br>
      <h5 style=" font-size: 20px;"> Tampilkan Nilai </h5>
        <form action="">
          <div>
            <input type="radio" name="nilai" value="iya"> Ya <br>
            <input type="radio" name="nilai" value="tidak"> Tidak <br>
          </div>
        </form>
  </div>
</div>
</body>
</html>


<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

{% endblock %}