{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
{% load static %}
<!-- Link css dan bootstrap tambahan -->
<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/update_status.css' %}"/>

<h1 style="text-align: center;"> Selamat Datang! {{author}}</h1>
<div style="text-align: center;">
    <img class="img-circle" style="border-radius: 50%; height: 200px; width: 200px" src="https://vignette2.wikia.nocookie.net/naruto/images/5/50/Team_Kakashi.png/revision/latest?cb=20161219035928"/>
</div>
</hr>
<section>
    <h2 style="font-weight: bold;" align="center"> Profile {{name}}</h2>
    <div align="center">
        <p style="font-size: 40pt"> {{jumlahAllStatus}} </p>    
        <p>Jumlah status</p>
        <p style="font-size: 28pt">Status terbaru : {{latestStatus}}</p>
        <p style="font-size: 14pt">On : {{latestStatusDate}}</p>
    </div>
</section>
<!-- sign in with linkedin button -->
<script type="in/Login"></script>
</hr>
<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active col-sm-4">
                <a href="#detail_profile" aria-controls="home" role="tab" data-toggle="tab"> Profile </a>
            </li>
            <li role="presentation" class="col-sm-4">
                <a href="#riwayat" aria-controls="settings" role="tab" data-toggle="tab"> Riwayat </a>
            </li>
            <li role="presentation" class="col-sm-4">
                <a href="#status" aria-controls="settings" role="tab" data-toggle="tab"> Status </a>
            </li>
        </ul>
    <br>
    <!-- Tab paness -->
    <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="detail_profile">
                {% include 'tables/detail_profile.html' %}
            </div>
            <div role="tabpanel" class="tab-pane fade" id="riwayat">
                {% include 'tables/riwayat.html' %}
            </div>
            <div role="tabpanel" class="tab-pane fade" id="status">
                {% include 'tables/status.html' %}
            </div>
        </div>

    </hr>
</div>
<!-- Script buat handle active tab issues -->
<script>
        $(document).ready(function(){
            $('.nav li').click(function(event){
                //remove all pre-existing active classes
                $('.active').removeClass('active');
        
                //add the active class to the link we clicked
                $(this).addClass('active');
        
                //Load the content
                //e.g.
                //load the page that the link was pointing to
                //$('#content').load($(this).find(a).attr('href'));      
        
                event.preventDefault();
            });
        });
        </script>
        
{% endblock %}
