td {
    text-align: center;
}

.card {
    background-color: #fffde6;
    width: 315px;
    height: auto;
    border-color: grey;
    padding: 5px;
    transition: 0.5s all;

}

.text-container {
    border-color: #5b80b2;
    width: auto;
    color: #5794da;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.table-hover {
    margin: auto;
    text-align: center
}

.rounded-circle {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 5px;
}
