.avatar_image{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.author_name{
    font-size: 14pt;
}

.status_message{
    font-size: 20pt;
}

.created_time{
    font-size: 11pt;
    color: dimgrey;
}

.form-control{
    width: 100%;
    border-radius:5px;
    background-color: whitesmoke;
    padding: 5pt;
    resize: none;
    margin-top: 20px;
}

.btn {
    border-radius: 5px 15px;
    background-color: #abb7f4;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    width: 100px;
    height: 40px;
    transition: all 0.5s;
    cursor: pointer;
    float: right;
}

.btn span {
    border-radius: 4px 8px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.btn:hover span {
    padding-right: 20px;
}

.btn:hover span:after {
    opacity: 1;
    right: 0;
}