.avatar_image{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 5px;
}

.author_name{
    font-size: 18pt;
}

.status_message{
    font-size: 22pt;
    margin-bottom: 5px;
}

.created_time{
    font-size: 11pt;
    color: gray;
    margin-bottom: 5px;
}

.form-control{
    width: 100%;
    border-radius:5px;
    background-color: whitesmoke;
    padding: 5pt;
    resize: none;
    margin-top: 20px;
}

.btn {
    border-radius: 5px 15px;
    background-color: #909FE9;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    width: 100px;
    height: 40px;
    transition: all 0.5s;
    cursor: pointer;
}

.btn span {
    border-radius: 4px 8px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.btn:hover span {
    padding-right: 20px;
}

.btn:hover span:after {
    opacity: 1;
    right: 0;
}

.flex{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    margin-right: -15px;
    margin-left: -15px;
}
.flex-item{
    padding: 10px 15px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;
    width: 100%;
    border: 1px solid #CCCCCC;
    border-radius: 10px;
}